<p>
    Hi {{ name }},
</p>
<p>
    We have a new update on your milestones!!!
</p>
<p>
    <b>Milestones for the deal id:</b> {{ dealId }}
</p>
<p>
    <b>Deal Status:</b> {{ dealStatus }}<br>
    <b>Property Name:</b> {{ propertyName }}<br>
    <b>Total Commission Received:</b> {{ commission }}<br>
</p>
<table>
    <tbody>
        <tr>
            <td><b>Deal Milestone</b></td>
            <td> </td>
            <td><b>Milestone Date</b></td>
        </tr>
        <tr>
            <td>Deal Started</td>
            <td> </td>
            <td>{{ milestones }}</td>
        </tr>
    </tbody>
</table>
