<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tandem Solar New Milestone Achieved!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
        }

        td {
            padding-right: 15px;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 8px;
            box-sizing: border-box;
        }

        .header {
            text-align: center;
            padding-bottom: 20px;
        }

        .content {
            font-size: 14px;
            line-height: 2;
        }

        .footer {
            margin-top: 2px;
            font-size: 14px;
        }

        .footer .footer-content {
            height: 2rem;
            display: flex;
            justify-content: flex-start !important;
            align-items: center !important;
            gap: .3rem !important;
            width: 100%;
        }

        .footer .footer-content img {
            border-radius: 100%;
        }

        .footer .footer-content .company-name {
            font-size: 14px;
            color: #0c0659;
            margin: auto 8px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="content">
            <p>
                Dear {{ name }},
            </p>
            <p>
                We are pleased to inform you that a Tandem Solar new milestone has been reached!
            </p>
            <p>
                Deal ID: {{ dealId }} <br>
                Deal Status: {{ dealStatus }} <br>
                Property Address: {{ propertyName }} <br>
            </p>
            <table>
                <tbody>
                    <tr>
                        <td><b>Deal Milestone</b></td>
                        <td><b>Milestone Date</b></td>
                    </tr>
                    {{#each milestones}}
                    <tr>
                        <td>{{ this.milestones }}</td>
                        <td>{{ this.date }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <p>
                To view the details and track the progress of this deal, please log in to your account via the Tandem
                website at <a href="http://www.tandeminf.com" target="_blank">www.tandeminf.com</a>
            </p>
            <p>
                Thank you for your continued partnership!
            </p>
        </div>
        <div class="footer">
            <p>The Tandem Team</p>
            <div class="footer-content">
                <img src="https://static.wixstatic.com/media/de20d1_c11a5e3e27554cde9ed8e2312c36095b~mv2.webp/v1/fill/w_101,h_101,al_c,lg_1,q_80,enc_auto/Logo%20Transparency%20-%20Icon.webp"
                    alt="Tandem Logo">
                <p class="company-name">TANDEM INFRASTRUCTURE</p>
            </div>
        </div>
    </div>
</body>

</html>